<h1>Cart</h1>

<% if current_cart.empty? %>

  <p>Your cart is empty. <%= link_to 'Have a look at the menu', menu_index_path %>.

<% else %>

  <%= render partial: '/cart_items', object: current_cart %>

  <%= simple_form_for(Order.new, html: {class: 'form-inline'}) do |f| %>
    <span class="inline-help">The earliest available pickup time for this order is <%= distance_of_time_in_words Time.zone.now, current_cart.calculate_earliest_pickup_at %> from now.</span>
    <%= f.input :pickup_at, default: current_cart.calculate_earliest_pickup_at %>
    <br />
    <%= f.submit 'Place Order', class: 'btn btn-primary' %>
  <% end %>

<% end %>
