<h1>Order Detail</h1>

<p><strong>Ordered By:</strong> <%= @order.user.name %> (<%= mail_to(@order.user.email) %>)
<p><strong>Ordered At:</strong> <%= @order.created_at %></p>
<p><strong>Pickup At:</strong> <%= @order.pickup_at %></p>
<p><strong>Status:</strong> <%= @order.order_status.humanize %></p>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Items</h3>
  </div>
  <ul class="list-group">
    <% @order.items.each do |item| %>
        <li class="list-group-item">
          <%= link_to item.title, item_path(item) %>
          <% if is_admin? %>(<%= link_to 'Remove', remove_item_order_path(@order, item), class: 'text-danger' %>)<% end %>
          <span class="text-muted"><%= truncate item.description, length: 80 %></span>
          <span class="badge"><%= number_to_currency item.price %></span>
        </li>
      <% end %>
  </ul>
  <div class="panel-footer text-right">
    Total: <strong><%= number_to_currency @order.total %></strong>
  </div>
</div>

<%= link_to 'Back', orders_path %>
