<h1><%= @item.title %> <span class="badge"><%= number_to_currency @item.price %></span></h1>

<% if @item.category %>
  <p><strong>Category: </strong><%= @item.category.title %></p>
<% end %>

<%= image_tag @item.photo, class: 'thumbnail' if @item.photo.present? %>

<p><%= @item.description %></p>

<% if @item.active? %>
  <p><%= link_to 'Add to Cart', add_item_cart_path(@item), class: 'btn btn-primary' %></p>
<% end %>

<% if is_admin? %>
  <%= link_to 'Edit', edit_item_path(@item) %> |
  <%= link_to 'Back', items_path %>
<% end %>

<h2>Reviews <% if @item.reviews.any? %>(Average rating: <%= @item.average_rating %> stars)<% end %></h2>
<%= render @item.reviews %>

<h4>Add a Review</h4>
<% if user_signed_in? %>
  <% if current_user.has_purchased?(@item) %>
    <%= render 'reviews/form' %>
  <% else %>
    <p>You must order the item before you may add a review.</p>
  <% end %>
<% else %>
  <p><%= link_to('Sign in', signin_path) %> to add a review.</p>
<% end %>
